<div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">Educational Videos in One Place.</h4>
          <%= image_tag('iphone.png', class: "phone", size:"auto") %><br>
<!--           <a class="button button-primary" href="/index">See Videos</a>
 -->
          <h3>Created by the Educational Design Team</h3>
          <h4 class="section-heading">The Faculty of Health Sciences | University of Sydney</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
