<h1>Name of Video<%= @video.try :name %></h1>

<!-- .container is main centered wrapper -->
<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="ten columns">Medical Radiation Sciences</div>
    <div class="two columns"># of Plays <%= @video.try :stats %></div>
    <hr>
  </div>

  <div class="row">
    <div class="eight columns">
    <h4>Additional Information</h4>
    <div class="top-bar">
            Theme:
            <select id="sel-themes">
                <option value="themes/bootstrap" selected>bootstrap</option>
                <option value="themes/roman" selected>roman</option>
            </select>
        </div>
        <div id="container">
            <div class="editable">
                <p>As an admin you can edit this section directly, all thanks to <a href="http://daviferreira.github.io/medium-editor/"></a></p>
            </div>
        </div>
      </div>

      <script>
      var editor = new MediumEditor('.editable', {
                buttonLabels: 'fontawesome'
            }),
            cssLink = document.getElementById('medium-editor-theme');
            document.getElementById('sel-themes').addEventListener('change', function () {
                cssLink.href = '../stylesheets/themes/' + this.value + '.css';
            });
      </script>

    <div class="six columns">Video
      <iframe src="//player.vimeo.com/video/<%= @video.try :vimeo_id %>?portrait=0&color=333" width="600" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
    <hr>
  </div>
    
  </div>

</div>
    