<h1>Featured Video</h1>

<!-- .container is main centered wrapper -->
<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="six columns">Name of Video</div>
    <div class="four columns"># of Views</div>
    <div class="two columns"># of Comments</div>
    <hr>
  </div>

  <div class="row">
    <div class="six columns">Disqus
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'soxyface';
          
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
    <div class="six columns">Video
      <iframe src="https://player.vimeo.com/video/120344655" width="600" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/120344655">MOMENTUM / Octav Rolan</a> from <a href="https://vimeo.com/user26457404">AL CHARRIERE</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <hr>
  </div>


</div>
    