<h1>Name of Video</h1>

<!-- .container is main centered wrapper -->
<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="eight columns">Category of Video</div>
    <div class="two columns"># of Views</div>
    <div class="two columns"># of Comments</div>
    <hr>
  </div>

  <div class="row">
    <div class="eight columns">
      <h3>ADMIN CAN EDIT LIVE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur amet numquam, ea quos voluptas reiciendis sequi quibusdam doloribus deserunt, corporis quia dolore! Aperiam ab, eius illum rem vel doloribus quo.</p>
      <p>Ex explicabo magni aliquid voluptatibus aut ab cumque, reprehenderit cum harum in labore facilis et! Ratione suscipit, veniam laudantium quos, optio illo deserunt quis nostrum, numquam iure praesentium, excepturi voluptas.</p>
      <p>Eligendi nulla error deleniti illum sit beatae quasi possimus explicabo quos minima temporibus ipsam, quisquam cum ipsa commodi architecto quo ullam consequatur quas nihil facilis. Aspernatur harum, esse tempora quis.</p>
      <p>Incidunt qui tempora nostrum totam. Id molestiae sed, deleniti animi aut vitae, dolorem minima nesciunt dolores commodi, quaerat nisi numquam ducimus obcaecati eaque neque expedita quidem perferendis provident, modi reprehenderit.</p>
      <p>Dolore consequatur consectetur unde. Eius ratione obcaecati voluptatibus, dignissimos, cupiditate laborum voluptate, amet, maiores quod dolore vitae. Tempore rem harum laborum. Exercitationem amet saepe harum esse impedit iusto a quidem.</p>
      <p>Quia atque ab nesciunt sint officiis tempore laboriosam recusandae saepe fuga aliquam. Dolorem debitis nihil, omnis id ab error alias, corporis accusamus eos aspernatur adipisci excepturi atque cupiditate quas ut.</p>
      <p>Possimus veniam autem, doloribus explicabo, alias impedit voluptatibus, odit dolorem vel ut dolores odio vitae assumenda sapiente deserunt non illo quod aspernatur modi. Officia corporis fuga, omnis dolor necessitatibus voluptatum!</p>
      <p>Vel odit cumque corporis perspiciatis earum? Laboriosam nemo, dolorum sint? Maiores possimus aut vel earum consectetur molestiae! Quas nesciunt ipsum placeat, fuga asperiores saepe adipisci officiis aut dignissimos tempore, laudantium.</p>
      <p>Quos placeat veniam eum, sunt voluptatem molestias ea illum, iste error tempore sed alias sit voluptates quibusdam enim, eius qui totam. Obcaecati iste voluptatum excepturi omnis, distinctio impedit at commodi.</p>
      <p>Dolor nemo nisi, quidem eligendi aperiam reprehenderit magnam, cumque, nam laudantium ab dolorum, eaque dignissimos aliquid ipsum. Velit quam minima voluptas voluptatum, illum adipisci et tenetur aperiam nam itaque nemo.</p>
      <p>Perferendis culpa illum voluptatibus voluptas cumque sapiente placeat, quibusdam, vel totam quod distinctio minima eaque. Atque culpa, totam quod perspiciatis. Accusantium obcaecati dicta in iste nobis tenetur consequatur error voluptates.</p>
      <p>Nihil voluptatibus, minima laudantium dolor explicabo at sit veritatis consequuntur quia quidem, nam enim officia quis error dolorem sapiente fuga! Nihil animi, vitae voluptatem sint. Ab odit minus, laudantium rem.</p>
      <p>Aperiam fugit, labore deserunt nihil quibusdam iusto a error quaerat earum eligendi iure illo asperiores dolorem fugiat. Ex fugit mollitia cum veniam consectetur, qui asperiores necessitatibus odio, itaque doloremque laboriosam?</p>
      <p>Quisquam fugiat iure consequuntur quia voluptate deserunt modi laborum praesentium distinctio esse vitae, provident ipsa corporis accusantium vero? Asperiores possimus, qui mollitia optio! Eligendi nostrum, obcaecati enim quas tempora eius?</p>
      <p>Soluta et accusantium, illum ratione iste, est amet quos doloremque. Velit culpa voluptatibus facere natus quasi, sed cum quas unde, tempore dolor fugiat tenetur enim necessitatibus illum error? Veritatis, architecto.</p>
      <p>Neque rem quae quia quos ad voluptatum, animi voluptas esse sequi veritatis modi magni ipsum minima quidem at nemo illum, culpa omnis quasi! Magnam aperiam rem maxime nesciunt alias, animi?</p>
    </div>

    <div class="verticalLine">
    </div>

    <div class="six columns">Video
      <iframe src="https://player.vimeo.com/video/120344655" width="600" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/120344655">MOMENTUM / Octav Rolan</a> from <a href="https://vimeo.com/user26457404">AL CHARRIERE</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
    <hr>
  </div>
    
  </div>

</div>
    