<h1>This is the Video Landing Page</h1>

<h3>Upper Limb Positioning</h3>
<ul>
  <% upper_limb %>
  <% @videos.each do |video| %>
    <li><iframe src="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" width="WIDTH" height="HEIGHT" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <%= video.try :name %></li>  
  <% end %>
</ul>