<h1>This is the Video Landing Page</h1>

<ul>
  <% @videos.each do |video| %>
    <li><iframe src="//player.vimeo.com/video/<%= video.vimeo_id %>?portrait=0&color=333" width="WIDTH" height="HEIGHT" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <%= video.name %></li>  
  <% end %>
</ul>