<h1>This is the Video Landing Page</h1>

  <h3>Upper Limb Positioning Images</h3>
  <ul>
    <% upper_limb %>
    <% @videos.each do |video| %>
      <li>
        <a class="fancybox fancybox.iframe" href="//player.vimeo.com/video/<%= video.try :vimeo_id %>?portrait=0&color=333" title="<%= video.try :name %>"><img src="https://i.vimeocdn.com/video/<%= video.try :pictures %>_200x150.jpg" alt="placeholder"></a>
        <%= video.try :name %>
      </li> 
    <% end %>
  </ul>

  <style>
  .fancybox-skin {
    background-color: black;
  }

  .fancybox-title .child{
    padding-top: 2em;
    font-size: 2em;
    background-color: transparent;
  }
  </style>

  <script>
    $(document).ready(function() {
      $(".fancybox").fancybox({
          type: "iframe",
          titlePosition: "inside",
          transitionIn: 'fade',
          transitionOut: 'fade',
          beforeShow: function () {
                  this.title = (this.title) + " <button>View Full Lesson</button>";
              }
      });
    });


  </script>