body {
  font-family: 'Raleway', sans-serif;
}

.one-third.column {
  position: absolute;
  font-size: 1em;
  top: 1%;
  right: 1%;
  text-align: right;
  z-index: 1;
}

header {
  position: absolute;
  width: 100%;
  top: 1%;
  left: 1%;
  font-size: 1em;
  text-align: left;
  z-index: 1;
}

footer {
  position: fixed;
  width: 100%;
  display: inline-block;
  right: 1%;
  bottom: 10px;
  font-size: 1em;
  text-align: right;
  z-index: 1;
}

.container {
  top: 60px;
}

/*Fancybox Custom Styling*/
.fancybox-skin {
  background-color: black;
}

.fancybox-title .child{
  font-size: 2em;
  background-color: transparent;
}

.playlistItem {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  /*background-color: gray;*/
}

.playlistItem .video_name {
    margin: 0 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
}

.nav {
  display: inline-block;
}

.child .view_lesson {
  color: white;
  background-color: red;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

.thumb {
  border-radius: 20px;
}

/*B&W HOVER*/
.thumb {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.thumb:hover {
  -webkit-filter: grayscale(100%);
}

.active {
  -webkit-filter: grayscale(100%);
}

.editable {
  border-radius: 10px;
  padding: 10px;
}
