# Fancybox Custom Styling
.fancybox-skin {
  background-color: black;
}

.fancybox-title .child{
  font-size: 2em;
  background-color: transparent;
}

.playlistItem {
  position: relative;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 169px;
  background: #111;
  float: left;
  overflow: hidden;
}
/*
.playlistItem .video_name {
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
}*/